# Set

Unordered list of elements of different data types that are not indexed which is mutable and cannot have duplicates.
<br>Sets allows us to execute mathematical operations like Union, intersection, complement etc.

#### Creating a Set
There are two ways of creating a set, either by having elements in curly braces separated by comma or using a built-in set() method

In [2]:
NewSet = {1,2,3,4,5}
print(NewSet)

{1, 2, 3, 4, 5}

In [5]:
NewSetVariousDataTypes = {1,'One',2,'Two',(4,5,'Six')}

In [6]:
print(NewSetVariousDataTypes)

{1, 2, 'Two', 'One', (4, 5, 'Six')}

Set cannot store duplicate values, will return unique values when we print the set

In [7]:
Set_Duplicate = {1,1,2,2,3,4,5}

In [8]:
print(Set_Duplicate)

{1, 2, 3, 4, 5}

In [14]:
UsingSetMethod = set([1,8,9,2,10])

In [15]:
print(UsingSetMethod)

{1, 2, 8, 9, 10}

Empty Sets are created but we need to use the set method create them else a dictionary object is created

In [16]:
EmtySet = {}

In [17]:
type(EmtySet)

dict

In [18]:
EmptySetUsingMethod = set()

In [20]:
type(EmptySetUsingMethod)

set

#### Frozen Sets
Since they are immutable, we can perform add or remove elements from frozen sets

In [36]:
CreateFrozenSet = frozenset([1,2,'Frozen','Set'])

In [39]:
CreateFrozenSet.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

__The update and add methods in Sets__, since sets are not ordered so we cannot change an element or slice our data.
<br>The only operation we can use is either add or append where add can will append __one__ element and append __multiple__
<br>Same way we can __remove__ an element fro the set but not by using the Index but we'll have to explicitly mention the element that needs to be removed. We can also use __discard__ method but if the element is not available it will not raise and error, you will have to __len__ method to calculate the before and after length to check whether the action has been performed.

In [21]:
NewSet.add('Ten')

In [22]:
print(NewSet)

{1, 2, 3, 4, 5, 'Ten'}

In [24]:
NewSet.update([11,100,'Two hundred'])

In [25]:
print(NewSet)

{'Two hundred', 1, 2, 3, 4, 5, 100, 'Ten', 11}

In [27]:
NewSet.remove(100)

In [28]:
print(NewSet)

{'Two hundred', 1, 2, 3, 4, 5, 'Ten', 11}

There's a pop method as well but it takes no arguments so a random element will be removed

In [30]:
NewSet.pop()

'Two hundred'

Use the __clear__ method to empty the set

In [31]:
UsingSetMethod.clear()

In [32]:
print(UsingSetMethod)

set()

In [34]:
print(len(NewSet))

7

#### Set mathematical operations

#### Set Union
Set of all elements from both sets

In [40]:
Set1 = {1,2,3,4,5}
Set2 = {5,6,4,7,8}

In [41]:
print(Set1 | Set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
print(Set1.union(Set2))
print(Set2.union(Set1))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

#### Set Intersection
Set of elements common in both Sets

In [44]:
print(Set1 & Set2)

{4, 5}

In [45]:
print(Set1.intersection(Set2))
print(Set2.intersection(Set1))

{4, 5}
{4, 5}

#### Set Difference

Set1 = {1,2,3,4,5}
<br>Set2 = {5,6,4,7,8}
<br>(Set1 - Set2), Set of elements that are only in Set1 but not in Set2
<br>(Set2 - Set1), Set of elements that are only in Set2 but not in Set1

In [46]:
print(Set1 - Set2)

{1, 2, 3}

In [47]:
print(Set1.difference(Set2))
print(Set2.difference(Set1))

{1, 2, 3}
{8, 6, 7}

#### Set Difference
<br>Set1 = {1,2,3,4,5} 
<br>Set2 = {5,6,4,7,8} 
<br>Set of elements which exist in Set1 and Set2 but not in both

In [48]:
print(Set1 ^ Set2)

{1, 2, 3, 6, 7, 8}

In [50]:
print(Set1.symmetric_difference(Set2))
print(Set2.symmetric_difference(Set1))

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}